.jumbotron {
    background-image: url(https://dewiskbohv5c1.cloudfront.net/assets/logo-prime-horizontal-6909d23113b83bd59bf681f26f940f97.svg);
    background-position: 0% 10%;
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel{
    height: 420px;
    padding-top: 10px;
}
.carousel .item {
    width: 75%;
    height: 350px;
    background-color: #B8DBFF;
    margin: auto;
    padding: 10px;
}
body {
    background-color: #8199B2;
}
.active {
    display: inline-block;
}
.inactive {
    display: none;
}
#red {
    color: red;
}
#labels {
    color: #550000;
}